.gate {
    position: absolute;
    display: grid;
    grid-template-columns: 20px 112px 20px;
    padding:2px;
    gap:0;
    width: 152px;
    align-items: center;
}

.select {
    filter: drop-shadow(0 0 3px rgb(255,25,25));
}

.input-1 {
    position: relative;
    align-items: center;
    justify-content:right
}
.input-2 {
    position: relative;
    display: grid;
    grid-template-rows: 20px 20px;
    width: 20px;
    gap:5px;
    align-items: center;
    justify-content:right
}

.connector {
    padding:0;
    margin:0;
    width:20px;
    height:20px;
    border-radius: 25px;
    border: 3px solid #000
}

.off {
    background-color:#777
}

.on {
    background-color:rgb(255,75,75)
}
