.gate {
    position: absolute;
    display: grid;
    grid-template-columns: 20px 112px 20px;
    padding:2px;
    gap:0;
    width: 152px;
    align-items: center;
}
#simulation-window .body:hover {
    cursor:grab;
}
#simulation-window .body:active {
    cursor:grabbing;
}


.input {
    position: absolute;
    display: grid;
    grid-template-columns: 30px 20px;
    gap:0;
    width:50px;
    align-items: center;
}

.button {
    border-radius:3px;
    border:3px solid #000;
    width:30px;
    height:30px;
}
.switch {
    border-radius:3px;
    width:30px;
    height:30px;
    border:3px solid #000;
    display:grid;
    grid-template-rows:10px 10px;
    gap:4px;
}
.switch.low .bottom {
    border:2px solid #444;
    background-color: #999
}
.switch.low .top {
    border:none;
    background-color:inherit
}

.switch.high .bottom {
    border:none;
    background-color:inherit
}
.switch.high .top {
    border:2px solid #444;
    background-color: #999
}

.light {
    position: absolute;
    display:grid;
    grid-template-rows: 35px 20px;
    width: 30px;
    height: 55px;
}

.led {
    border:3px solid #000;
    width: 30px;
    height:35px;
    border-bottom:7px solid #000;
    border-radius: 30px 30px 3px 3px;
}
.light .connector {
    margin:auto;
}

.high {
    background-color: rgb(255,75,75)
}
.low {
    background-color: #777
}

.const {
    border-radius:3px;
    width:30px;
    height:30px;
    border:3px solid #000;
    display:grid;
    gap:4px;
    font-size:20pt;
    font-weight:bold;
    
}
.const.low {
    line-height: 25px;
    text-indent: 3px;
}
.const.high {
    line-height: 25px;
    text-indent: 7px;
}

.selected {
    filter: drop-shadow(0 0 3px rgb(255,25,25));
}

.in-1 {
    position: relative;
    align-items: center;
    justify-content:right
}
.in-2 {
    position: relative;
    display: grid;
    grid-template-rows: 20px 20px;
    width: 20px;
    gap:5px;
    align-items: center;
    justify-content:right
}

.connector {
    padding:0;
    margin:0;
    width:20px;
    height:20px;
    border-radius: 25px;
    border: 3px solid #000;
    z-index:100;
}
.connector:hover {
    cursor:pointer;
}

.off {
    background-color:#777
}

.on {
    background-color:rgb(255,75,75)
}
